
@import "tailwindcss";

nav {
  background-color:  #0694ab ; 
  font-size: 1.25rem;
}
nav a {
  transition: transform 0.3s ease;
}
nav a:hover {
  transform: scale(1.1); 
}

body{
  background-color: #ffffff;
}

.bg-personalizado {
  background-image: url('../img/Playa1.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.boton-1 {
  background-color: #045f78;	
  transition: background-color 0.3s ease;
}
.boton-1:hover{
  background-color: #0694ab;  
}

.tarjetas {
  transition: transform 0.3s ease;
}
.tarjetas {
  transform: scale(1.1); 
}

.imagen-nosotros {
  background-image: url('ruta/a/tu-imagen.jpg'); /* Cambia esta ruta */
}

.imagen-servicio {
  width: 300%;
  height: 200px;         
  border-radius: 8px;    
  margin-bottom: 1rem;   
}

h2{
  text-align: center;
}
.tarjetas{
  border: 2px solid #0694ab;
  padding: 16px;
}